<div class="h-screen w-screen bg-sand flex items-center justify-center">
  <div class="flex w-[99%] h-[98%] md:w-[99%] md:h-[98%] lg:w-[99%] lg:h-[98%] bg-white shadow-lg overflow-hidden">
    
    <div class="w-1/2 bg-blue text-white flex flex-col justify-between py-32">
      <div class="text-center">
        <h2 class="text-3xl font-italiana mb-4">Faça já o seu login</h2>
        <p class="text-light-gray">Acesse sua conta e aproveite nossos conteúdos exclusivos!</p>
      </div>
      <app-signup-prompt></app-signup-prompt> 
    </div>

    <div class="w-1/2 p-8 flex flex-col justify-center">
      <h2 class="text-2xl font-italiana mb-6 text-orange">Faça o Login</h2>
      <app-login-form></app-login-form> 
    </div>

  </div>
</div>
