
button {
    transition: color 0.3s ease;
  }
  
  button:hover {
    color: #2d7d89;
  }
  
  h1 {
    font-family: 'Italiana', sans-serif;
  }
  

.mt-12 {
  margin-top: 3rem; 
}

.bg-white {
  background-color: white;
}

.shadow-lg {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
