.home-container {
    background-image: url('/assets/images/home.png');
    background-size: cover;  /* Para cobrir toda a tela */
    background-position: center;
    height: 100vh;  /* Ocupa toda a altura da viewport */
    border: 10px solid #AFAB9A;  /* Borda nas quatro extremidades */
    position: relative;
  }
  
  .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;  /* Ocupa toda a altura da tela */
  }
  