.contador-viagem {
  background-color: #e0f7fa;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.contador-viagem h2 {
  color: #00796b;
}

.contador-viagem p {
  font-size: 18px;
  font-weight: bold;
}


