<div class="relative w-full h-screen">
  <img src="assets/images/comof1.png" class="absolute top-0 left-0 w-full h-[88vh] object-cover" alt="Imagem 1">

  <img src="assets/images/comof2.png" class="absolute bottom-0 left-0 w-full object-cover" alt="Imagem 2">

  <h2 class="text-blue font-italiana text-5xl absolute top-[25%] left-1/2 transform -translate-x-1/2 text-center">
    Como funciona?
  </h2>
  
  
  <div class="absolute top-[35vh] left-1/2 text-xl transform -translate-x-1/2 text-light-gray px-5">
    <ul class="list-decimal pl-6 space-y-4 text-shadow">
      <li><strong>Destino e Datas:</strong> Diga onde e quando você vai viajar – a IA precisa só disso para começar!</li>
      <li><strong>Personalize:</strong> Adicione detalhes como orçamento, transporte e tipo de viagem. Quanto mais informações, mais personalizado será seu roteiro!</li>
      <li><strong>Receba Seu Roteiro:</strong> Em um clique, veja um itinerário completo para cada dia, adaptado ao seu estilo e preferências.</li>
    </ul>
  </div>
  
</div>
