.polaroid-buttons {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 30px; 
  width: 100%;
  flex-wrap: wrap;
  margin-top: 20px;
}

.polaroid-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.1s ease-in-out, background-color 0.3s ease-in-out;
  border: none;
  width: 160px;
  height: 270px;
  margin: 10px;

  .image-container {
    width: 140px;
    height: 180px;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 6px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .caption {
    margin-top: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #555;
    text-align: center;
  }

  &:hover {
    transform: scale(1.05);
    background-color: #e0e0e0;
  }

  &.active {
    background-color: #C07A47; /* Laranja */
  }
}

.next-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 15px 30px;
  background-color: #2D7D89; /* Azul */
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Akatab', sans-serif;
}

.next-button:hover {
  background-color: #2D7D89; /* Azul */
  opacity: 0.8;
}
