<div class="polaroid-buttons">
  <button 
    *ngFor="let activity of getActivityList()"
    (click)="toggleActivity(activity)"
    [ngClass]="{ 'active': isSelected(activity) }"
    class="polaroid-button"
  >
    <div class="image-container">
      <img [src]="activityImages[activity]" alt="{{ activity }}" />
    </div>
    <span class="caption">{{ activity }}</span>
  </button>
</div>

<div *ngIf="nextButtonVisible">
  <button routerLink="/formulario-preferencia" class="next-button" (click)="nextButtonVisible = false">
    Seguinte
  </button>
</div>
