<div class="p-6 bg-sand text-chalk rounded-lg shadow-md">
    <h2 class="text-xl font-italiana mb-4">Vamos começar a criar o roteiro?</h2>
    <p class="mb-4">Qual sua preferência de clima?</p>
    
    <div class="flex gap-4">
      <button (click)="onButtonClick('Primavera')" class="btn-clima">Primavera</button>
      <button (click)="onButtonClick('Verão')" class="btn-clima">Verão</button>
      <button (click)="onButtonClick('Outono')" class="btn-clima">Outono</button>
      <button (click)="onButtonClick('Inverno')" class="btn-clima">Inverno</button>
    </div>
  </div>
  